.shadow-1 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.hideScrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.shadow-2 {
  --shadow-color: 0deg 0% 0%;

  box-shadow: 0px 0.5px 0.5px hsl(var(--shadow-color) / 0.13),
    0px 1.3px 1.2px -0.4px hsl(var(--shadow-color) / 0.12),
    0px 2.3px 2.1px -0.9px hsl(var(--shadow-color) / 0.11),
    0.1px 3.9px 3.5px -1.3px hsl(var(--shadow-color) / 0.1),
    0.1px 6.5px 5.9px -1.8px hsl(var(--shadow-color) / 0.09),
    0.2px 10.5px 9.5px -2.2px hsl(var(--shadow-color) / 0.08),
    0.3px 16.2px 14.7px -2.6px hsl(var(--shadow-color) / 0.07),
    0.5px 24.1px 21.9px -3.1px hsl(var(--shadow-color) / 0.06),
    0.6px 34.5px 31.3px -3.5px hsl(var(--shadow-color) / 0.05),
    0.9px 47.9px 43.5px -3.9px hsl(var(--shadow-color) / 0.04);
}
