@tailwind base;
@tailwind components;
@tailwind utilities;

.h-p-1:hover .h-c-1 {
  @apply bg-gray-1 font-medium text-primary-2;
}
.h-p-1:hover .h-c-1 i {
  @apply pr-1 opacity-100;
}
.h-p-2:hover i {
  @apply pl-4;
}
/* .task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
} */

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
/* input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
} */
